PORT=3005

DB_SERVER=localhost
DB_DATABASE=DB_BACKEND_GUIA6
DB_TRUSTED_CONNECTION=true
DB_DRIVER=ODBC Driver 17 for SQL Server

DATABASE_URL="sqlserver://localhost:1433;database=DB_BACKEND_GUIA7;integratedSecurity=true;encrypt=true;trustServerCertificate=true;schema=dbo;"